/* @import url(./var.css); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* prettier-ignore */
:root {
  /* colors */
  --c-carnation-pink-h: 338;
  --c-carnation-pink-s: 70%;
  --c-carnation-pink-l: 0%;

  --c-uranian-blue-h: 208;
  --c-uranian-blue-s: 70%;
  --c-uranian-blue-l: 0%;

  --c-light-sky-blue-h: 209;
  --c-light-sky-blue-s: 70%;
  --c-light-sky-blue-l: 0%;

  --c-dark-purle-h: 278;
  --c-dark-purle-s: 70%;
  --c-dark-purle-l: 0%;

  --c-blue-h: 211;
  --c-blue-s: 70%;
  --c-blue-l: 0%;

  --c-dark-purle-h: 245;
  --c-dark-purle-s: 70%;
  --c-dark-purle-l: 0%;

  --c-emerald-h: 134;
  --c-emerald-s: 70%;
  --c-emerald-l: 0%;

  --c-rose-h: 340;
  --c-rose-s: 70%;
  --c-rose-l: 0%;

  --c-carnation-pink: hsl(var(--c-carnation-pink-h) var(--c-carnation-pink-s) var(--c-carnation-pink-l));
  --c-carnation-pink-10: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 10%));
  --c-carnation-pink-20: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 20%));
  --c-carnation-pink-30: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 30%));
  --c-carnation-pink-40: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 40%));
  --c-carnation-pink-50: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 50%));
  --c-carnation-pink-60: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 60%));
  --c-carnation-pink-70: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 70%));
  --c-carnation-pink-80: hsl( var(--c-carnation-pink-h) var(--c-carnation-pink-s) calc(var(--c-carnation-pink-l) + 80%));

  --c-rose: hsl(var(--c-rose-h) var(--c-rose-s) var(--c-rose-l));
  --c-rose-10: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 10%));
  --c-rose-20: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 20%));
  --c-rose-30: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 30%));
  --c-rose-40: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 40%));
  --c-rose-50: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 50%));
  --c-rose-60: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 60%));
  --c-rose-70: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 70%));
  --c-rose-80: hsl(var(--c-rose-h) var(--c-rose-s) calc(var(--c-rose-l) + 80%));

  --c-emerald: hsl(var(--c-emerald-h) var(--c-emerald-s) var(--c-emerald-l));
  --c-emerald-10: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 10%));
  --c-emerald-20: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 20%));
  --c-emerald-30: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 30%));
  --c-emerald-40: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 40%));
  --c-emerald-50: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 50%));
  --c-emerald-60: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 60%));
  --c-emerald-70: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 70%));
  --c-emerald-80: hsl(var(--c-emerald-h) var(--c-emerald-s) calc(var(--c-emerald-l) + 80%));

  --c-dark-purle: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) var(--c-dark-purle-l));
  --c-dark-purle-10: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) +10%));
  --c-dark-purle-20: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 20%));
  --c-dark-purle-30: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 30%));
  --c-dark-purle-40: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 40%));
  --c-dark-purle-50: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 50%));
  --c-dark-purle-60: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 60%));
  --c-dark-purle-70: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 70%));
  --c-dark-purle-80: hsl( var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 80%));

  --c-blue: hsl(var(--c-blue-h) var(--c-blue-s) var(--c-blue-l));
  --c-blue-10: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 10%));
  --c-blue-20: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 20%));
  --c-blue-30: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 30%));
  --c-blue-40: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 40%));
  --c-blue-50: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 50%));
  --c-blue-60: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 60%));
  --c-blue-70: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 70%));
  --c-blue-80: hsl(var(--c-blue-h) var(--c-blue-s) calc(var(--c-blue-l) + 80%));

  --c-dark-purle: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) var(--c-dark-purle-l));
  --c-dark-purle-10: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 10%));
  --c-dark-purle-20: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 20%));
  --c-dark-purle-30: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 30%));
  --c-dark-purle-40: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 40%));
  --c-dark-purle-50: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 50%));
  --c-dark-purle-60: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 60%));
  --c-dark-purle-70: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 70%));
  --c-dark-purle-80: hsl(var(--c-dark-purle-h) var(--c-dark-purle-s) calc(var(--c-dark-purle-l) + 80%));

  --c-light-sky-blue: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) var(--c-light-sky-blue-l) );
  --c-light-sky-blue-10: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 10%) );
  --c-light-sky-blue-20: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 20%) );
  --c-light-sky-blue-30: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 30%) );
  --c-light-sky-blue-40: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 40%) );
  --c-light-sky-blue-50: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 50%) );
  --c-light-sky-blue-60: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 60%) );
  --c-light-sky-blue-70: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 70%) );
  --c-light-sky-blue-80: hsl( var(--c-light-sky-blue-h) var(--c-light-sky-blue-s) calc(var(--c-light-sky-blue-l) + 80%) );

  /* font size */
  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
  --fs-xlarge: 3rem;

  /* font width: ; */
  --fw-base: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  /* border radius */
  --bdr-sm:5px;
  --bdr-md:10px;
  --bdr-lg:15px;
}

/*Reset*/

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23285ecf' fill-opacity='0.38'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: var(--c-blue-70);
  background-blend-mode: multiply;
}

img {
  max-width: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}
/*reset end*/

/* first page
 */
.homepage,
.dashboardpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*
login nav
*/
header {
  font-size: var(--fs-medium);
  display: flex;
  align-items: center;
  background-color: hsl(var(--c-blue-h) var(--c-blue-s) var(--c-blue-l) / 0.8);
}
header .logo {
  margin-left: 2rem;
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  text-decoration: none;
  outline: none;
  padding: 10px;
}
header .logo img {
  width: 6rem;
}
nav {
  margin-left: auto;
  margin-right: 2rem;
}

nav .login {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: var(--bdr-sm);
  background-color: var(--c-carnation-pink);
}
nav .login a {
  text-decoration: none;
  color: inherit;
}
/*
register section
*/

.register {
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}
.register > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.register .title {
  font-size: var(--fs-xlarge);
  background-color: var(--c-dark-purle-70);
  padding: 5px;
  border-radius: var(--bdr-md);
  margin-bottom: 2rem;
}

.register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 1px solid var(--c-primary);
  gap: 20px;
}
.register form input[type="text"] {
  margin-top: 1rem;
  padding: 10px;
}
.register .search_btn {
  color: #fff;
  background-color: var(--c-light-sky-blue);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

/* dashboard Page */
.dashboardpage form {
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
  /* flex: 1; */
  border-radius: var(--bdr-md);
  border: 1px solid #000;
  padding: 10px;
  background-color: hsla(
    var(--c-light-sky-blue-h) var(--c-light-sky-blue-s)
      calc(var(--c-light-sky-blue-l) + 80%) / 0.6
  );
}

.dashboardpage form > div {
  flex: 1 1 70%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.dashboardpage form > div input:not([type="submit"]),
select {
  font-style: var(--fs-large);
  border-radius: var(--bdr-md);
  padding: 10px;
  margin-right: 1rem;
  margin-left: auto;
  flex-basis: 40%;
  max-width: 40%;
  background-color: var(--c-rose-80);
}

.dashboardpage form > div input:not([type="submit"]):focus {
}

.dashboardpage form input[type="submit"] {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 10px;
  flex-basis: 20%;
  max-width: 20%;
  background-color: var(--c-dark-purle-60);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: #fff;
}

.dashboardpage form input[type="submit"]:hover {
  background-color: var(--c-dark-purle-10);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  outline: 4px solid var(--c-);
  cursor: pointer;
}
