@import url(./var.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/*Reset*/

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23285ecf' fill-opacity='0.38'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: var(--c-blue-70);
  background-blend-mode: multiply;
}

a {
  text-decoration: none;
}
img {
  max-width: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}
/*reset end*/

/* first page
 */
.homepage,
.loginpage,
.userSearchPage,
.dashboardpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(50vh - 3rem);
  /* min-height: 100vh; */
}

/* user searh page */
.userSearchPage .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
}
.userSearchPage .text h1 {
  background-color: var(--c-dark-purle-80);
  color: #fff;
  padding: 10px;
}
.userSearchPage .text img {
  height: 3rem;
}
.userSearchPage .back {
  background-color: var(--c-blue-40);
  border-radius: var(--bdr-lg);
  font-size: var(--fs-medium);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.userSearchPage table {
  padding: 5px;
  text-align: center;
  table-layout: fixed;
  text-transform: capitalize;
  border-collapse: collapse;
  font-size: calc(var(--fs-small) + 0.5rem);
}

.userSearchPage thead tr th {
  background-color: var(--c-dark-purle-80);
  font-weight: var(--fw-base);
  padding: 5px;
  border: 3px solid var(--c-dark-purle-30);
}
.userSearchPage table tr {
  background-color: var(--c-light-sky-blue-80);
}
.userSearchPage table tr td {
  padding: 10px;
  border: 2px solid #000;
}

/* user loginpage */
.loginpage form {
  border-radius: var(--bdr-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-basis: 40%;
  color: var(--c-carnation-pink-10);
  background-color: var(--c-dark-purle-80);
}

.loginpage form input[type="submit"] {
  background-color: var(--c-carnation-pink-10);
  color: var(--c-dark-purle-80);
  font-weight: var(--fw-bold);
  min-width: 100px;
  cursor: pointer;
}
.loginpage form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.loginpage form div input {
  margin-left: 2rem;
  padding: 10px;
  border-radius: var(--bdr-lg);
  border: none;
  outline: none;
  margin: 10px;
}
.loginpage form div input:focus {
  background-color: var(--c-carnation-pink-70);
  opacity: 0.8;
}
.loginpage form div label {
  color: var(--c-carnation-pink-20);
  margin-right: 2rem;
  font-size: calc(var(--fs-medium) - 0.2rem);
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: var(--fw-bold);
}
.loginpage .errorUsername {
  margin: 10px;
  background-color: var(--c-rose-20);
  border-radius: var(--bdr-lg);
  color: #fff;
}
/*
login nav on homepage
*/
header {
  font-size: var(--fs-medium);
  display: flex;
  align-items: center;
  background-color: var(--c-blue-30);
}
header .logo {
  margin-left: 2rem;
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  outline: none;
  padding: 10px;
}
header .logo img {
  width: 6rem;
}
nav {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

nav .login {
  border: 2px solid black;
  border-radius: var(--bdr-sm);
  background-color: var(--c-carnation-pink-70);
  color: var(--c-carnation-pink-20);
}
nav .login a {
  padding: 0.5rem;
  color: inherit;
}
nav .login:hover {
  outline: 5px solid var(--c-carnation-pink-20);
  cursor: pointer;
}
/*
register section
*/

.register {
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}
.register > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.register .title {
  font-size: calc(var(--fs-xlarge) + 0.5rem);
  background-color: var(--c-dark-purle-70);
  padding: 5px 10px;
  border-radius: var(--bdr-md);
  margin-bottom: 2rem;
}
.register .subtitle {
  background-color: var(--c-dark-purle-60);
  padding: 3px;
  border-radius: var(--bdr-sm);
}
.register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 1px solid var(--c-primary);
  gap: 20px;
}

.register form input[type="text"] {
  border-radius: var(--bdr-sm);
  border: none;
  margin-top: 1rem;
  font-weight: bold;
  padding: 10px;
}
/* .register form input[type="text"]:focus {
  background-color: var(--c-light-sky-blue-60);
} */

.register .search_btn {
  color: #fff;
  background-color: var(--c-dark-purle-30);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.register .search_btn:hover {
  background-color: var(--c-carnation-pink-50);
}
.register input[type="text"]:focus {
  color: #fff;
  outline: none;
  background-color: var(--c-dark-purle-80);
  /* background-color: var(--c-carnation-pink-70); */
}
.register input:hover::placeholder {
  color: #fff;
}

/* dashboard Page */
.dashboardpage .model-form,
.regEdit form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--c-dark-purle-80);
  border-radius: var(--bdr-md);
  border: 1px solid #000;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.dashboardpage .model-form .forms {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboardpage .model-form label,
.regEdit form label {
  font-size: var(--fs-medium);
  color: var(--c-dark-purle-40);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}
.dashboardpage .model-form input[type="text"],
.regEdit form input[type="text"] {
  padding: 7px;
  margin-right: 1rem;
  border-radius: var(--bdr-sm);
  border: none;
  outline: none;
}
.dashboardpage .model-form input[type="submit"],
.regEdit form input[type="submit"] {
  text-align: center;
  background-color: var(--c-dark-purle-60);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: #fff;
}

.dashboardpage .reg-form,
.thirdPage form {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: var(--bdr-md);
  border: 1px solid #000;
  padding: 10px;
  background-color: hsla(
    var(--c-light-sky-blue-h) var(--c-light-sky-blue-s)
      calc(var(--c-light-sky-blue-l) + 80%) / 0.8
  );
}
.dashboardpage .reg-form label,
.thirdPage label {
  margin-left: 1rem;
  font-weight: var(--fw-bold);
}
.dashboardpage .reg-form > h2 {
  text-align: center;
  background-color: hsla(
    calc(var(--c-rose-h) + 210) var(--c-rose-s) calc(var(--c-rose-l) + 30%) /
      0.8
  );
  border-radius: var(--bdr-md);
  padding: 0.25rem;
  color: var(--c-);
  margin: 1rem;
}
.dashboardpage .reg-form > div,
.thirdPage form div {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboardpage .reg-form > div input:not([type="submit"]),
select,
.thirdPage form div input:not([type="submit"]) {
  font-style: var(--fs-large);
  border-radius: var(--bdr-md);
  padding: 10px;
  margin-right: 1rem;
  margin-left: auto;
  flex-basis: 40%;
  max-width: 40%;
  background-color: hsla(279, 56%, 84%, 0.833);
  border: none;
}

.dashboardpage select,
.thirdPage form select {
  text-transform: capitalize;
}
.dashboardpage form > div input:not([type="submit"]):focus {
  /* background-color: var(--c-light-sky-blue-60); */
}

.dashboardpage .reg-form input[type="submit"],
.thirdPage form input[type="submit"] {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 10px;
  flex-basis: 20%;
  max-width: 20%;
  background-color: var(--c-dark-purle-60);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: #fff;
}

.dashboardpage form input[type="submit"]:hover {
  background-color: var(--c-dark-purle-10);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  outline: 4px solid var(--c-);
  cursor: pointer;
}
.dashboardpage form .chassisError {
  background-color: var(--c-rose-50);
  font-size: var(--fw-base);
  align-self: flex-end;
  margin: 10px;
  border-radius: var(--bdr-sm);
  max-width: 50%;
  text-decoration: underline;
  padding: 3px;
  border: none;
}

.table-view {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 10vh 0;
}
.table-view .search {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    hsla(
      calc(var(--c-rose-h) + 10) var(--c-rose-s) calc(var(--c-rose-l) + 30%) /
        0.9
    ),
    80%,
    #fff
  );
  /* background-image: linear-gradient(); */
}
.table-view .search form {
  padding: 10px;
  width: fit-content;
  margin-left: auto;
}
.table-view .search p {
  font-size: var(--fs-medium);
  color: var(--c-carnation-pink-80);
  font-weight: var(--fw-bold);
  margin-left: auto;
  padding: 5px 1rem;
  background-color: var(--c-carnation-pink-10);
  opacity: 0.8;
  border-radius: var(--bdr-sm);
  word-spacing: 20px;
}
.table-view .search form input {
  border-radius: var(--bdr-sm);
  margin-left: 2rem;
  padding: 5px;
  border: none;
  outline: none;
}
.table-view .search form input[type="submit"] {
  background-color: var(--c-carnation-pink-60);
  border-radius: var(--bdr-sm);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: #fff;
  margin-left: 1rem;
}
.table-view .search form input[type="submit"]:hover {
  background-color: var(--c-carnation-pink-50);
  outline: 4px solid var(--c-carnation-pink-40);
  cursor: pointer;
}
.table-view table {
  /* flex: 0 0 90%; */
  overflow: auto;
  width: 90%;
  display: inline-table;
  margin: 0 auto;
  background-color: hsla(
    var(--c-light-sky-blue-h) var(--c-light-sky-blue-s)
      calc(var(--c-light-sky-blue-l) + 80%) / 0.6
  );
  border-collapse: collapse;
  text-align: center;
}
/* capitlaze model column */
.table-view tr td:nth-child(2) {
  text-transform: capitalize;
}
/* capitlaze model type */
.table-view tr td:nth-child(3) {
  text-transform: capitalize;
} /* capitlaze model fueltype */
.table-view tr td:nth-child(7) {
  text-transform: capitalize;
}
.table-view table thead {
  line-height: 1;
  font-size: var(--fs-small);
  background-color: #fff;
}
.table-view table thead th {
  font-weight: bold;
  line-height: 2;
  background-color: var(--c-dark-purle-80);
  /* font-weight: var(--fw-base); */
  padding: 5px;
  border: 3px solid var(--c-dark-purle-30);
}
.table-view table tr {
  background-color: var(--c-light-sky-blue-80);
}
.table-view table tr td {
  padding: 5px;
  border: 2px solid #000;
}

/* edit page */
.thirdPage,
.regEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10vh 0; */
  min-height: 100vh;
}

.available {
  background-color: hsla(60 67% 55% / 0.8) !important;
}
.expired {
  background-color: hsla(0 75% 49% / 0.8) !important;
}
.crudBtns {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.crudBtns form {
  /* flex: 0 0 100%; */
  border: none;
  outline: none;
  padding: 3px;
  /* width: 100%; */
}
.crudBtns form input {
  color: #fff;
  border-radius: var(--bdr-lg);
}
.crudBtns form input:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
.crudBtns input[value="Delete"] {
  margin-left: auto;
  background-color: #63c7db;
}

.crudBtns input[value="Expand"] {
  background-color: #ca6817;
  margin-left: auto;
}
.crudBtns input[value="Edit"] {
  margin-left: auto;
  background-color: #0fd433;
}

@media (max-width: 970px) {
  .table-view table {
    /* width: 100%; */
    display: block;
  }
}

@media (min-width: 970px) {
  .homepage,
  .thirdpage,
  .loginpage,
  .userSearchPage,
  .dashboardpage {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: calc(100vh - 3rem); */
    min-height: calc(30vh + 20rem);
  }
}

.regEdit form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
